#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.round-button {
  display: inline-flex; /* Display the button as inline-flex */
  align-items: center; /* Align items vertically */
  width: 50px; /* Allow the button to adjust its width based on content */
  height: 50px; /* Set the height */
  border-radius: 50%; /* Make the button round */
  background-color: none; /* Change the background color to your desired color */
  color: #61dafbaa; /* Change the text color to white */
  border: #61dafbaa; /* Remove the border */
  padding: 5px 12px; /* Add padding for better spacing */
  cursor: pointer; /* Show pointer cursor on hover */
}

.round-button:hover {
  background-color: #646cffaa; /* Change the background color on hover */
}

.round-button .material-icons {
  margin-right: 25px; /* Add some spacing between the icon and text */
}
