#root {
  margin: 0 auto;
  padding: 1px;
  text-align: left;
}

h1 {
  line-height: 1.1;
  padding: 3px; 
  margin: 25px;
}
h2 {
  line-height: 1.1;
  padding: 3px; 
  margin: 25px;
}

 .nav-bar {
  text-align: left; 
  height: 100vh; 
  max-width: 250px;
  display: flex;
  flex-direction: column;
  background-color: rgb(193, 120, 120); 
  font-size: 30px;
  margin: 0;
  padding: 0;
}
.nav-bar ol{
  width: 100%;
  margin: 15px;
  
}

.nav-bar ol:hover{
  width: 100%;
  background-color: #242424; 

}

.nav-bar a {
  padding: 3px; 
  height: 120px; 
  color: rgba(255, 255, 255, 0.87); 
  text-decoration: none;
  display: flex;
  /* float: left; */
  width: 100%;

}

.nav-bar a.active {
  background-color: #242424; 
  color: rgba(255, 255, 255, 0.87); 
  width: 100%;
}

.round-button{
  color: #1976d2;
  background-color: transparent;
  width: 50px; 
  height: 50px; 
  align-items: center;
  border: 1px solid rgba(25, 118, 210, 0.5);
  padding: 5px 12px;
  box-sizing: border-box;
  position: relative;
  vertical-align: middle;
  cursor: pointer; 
  border-radius: 50%; 
  display: inline-flex; 
  align-items: center; 
}

.round-button:hover{
  text-decoration: none;
  border: 1px solid #1976d2;
}

.round-button .material-icons {
  margin-right: 25px; /* spacing between icon and text */
}

#user-input {
  width : 100%;
  padding : 0.5rem ;
}